/* This is an external CSS file */
body {
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg");
    background-color: rgba(23, 195, 252, 0.322);    
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}

